<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timerMinutes</key>
	<integer>25</integer>
	<key>smallBreakMinutes</key>
	<integer>5</integer>
	<key>longBreakMinutes</key>
	<integer>15</integer>
	<key>playTickSound</key>
	<false/>
	<key>playCompleteSound</key>
	<true/>
	<key>skypeIntegration</key>
	<false/>
	<key>iChatIntegration</key>
	<false/>
	<key>adiumIntegration</key>
	<false/>
	<key>statusMessage</key>
	<string>Eggscellent</string>
	<key>taskManagerType</key>
	<integer>0</integer>
	<key>autoStartNextTimer</key>
	<false/>
	<key>displayMonitorWindow</key>
	<true/>
	<key>autoCompleteTasks</key>
	<false/>
	<key>HOTKEY_EXTERNAL_INTERRUPTION</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifiers</key>
		<integer>8395008</integer>
	</dict>
	<key>HOTKEY_INTERNAL_INTERRUPTION</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifiers</key>
		<integer>8395008</integer>
	</dict>
	<key>HOTKEY_STOP_POMODORO</key>
	<dict>
		<key>keyCode</key>
		<integer>51</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>HOTKEY_TOGGLE_STATUSITEM_WINDOW</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>HOTKEY_TOGGLE_HOVER_WINDOW</key>
	<dict>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>HOTKEY_TOGGLE_NOTE_WINDOW</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>idleNudgePreference</key>
	<integer>2</integer>
	<key>playBreakCompleteSound</key>
	<true/>
	<key>tickAudioPath</key>
	<string>tick_tomatoTimer.aif</string>
	<key>timerCompleteAudioPath</key>
	<string>10_egg_hatch.aif</string>
	<key>breakAudioPath</key>
	<string>complete_trolly.mp3</string>
	<key>notesType</key>
	<integer>0</integer>
	<key>monitorWindowOnTop</key>
	<true/>
	<key>audioVolume</key>
	<integer>100</integer>
</dict>
</plist>
