html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}

html{-webkit-font-smoothing:antialiased;-khtml-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased;background-color:#d8d0be;text-rendering:optimizelegibility}

body,input,textarea,button,select{font:normal normal normal 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#444;font-weight:normal}

strong,b{font-weight:bold}

p{margin:0 0 1em}
p,li{line-height:1.6em}

h1{color:#000;font-size:1.8em;font-weight:bold;line-height:1.2em;margin-bottom:0.2em}
h1 a{color:#000;border:0}
h2{color:#444;font-size:1.4em;font-weight:bold;line-height:1.2em;margin-bottom:0.2em}
h2 a{color:#444;border:0}
h3{font-size:1.2em;color:#555;font-weight:bold;margin-bottom:0.2em}
h4{color:#edda08;font-weight:bold;margin-bottom:0.2em}

/* 

	
	GRRRRRATER
	
	
*/
div.explain{zoom:1}
div.explain>div{width:300px;margin:0 0 2em}
div.explain>div:first-child{float:left}
div.explain>div:last-child{float:right}
div.explain.reverse>div:first-child{float:right}
div.explain.reverse>div:last-child{float:left}
div.explain:before,div.explain:after{content:"";display:table}
div.explain:after{clear:both}
div.explain{font-size:16px}
div.explain>div{margin-bottom:0}


/* 

	
	OMG MY BODY 
	
	
*/
body{margin:0;padding:2em 10px 0;min-width:300px;max-width:640px;margin:0 auto;line-height:1}
body
{
	min-width:100%;
	padding:0;
	background:#d8d0be;
	color:#fff
}

body>header div,body>header nav,body>section,body>footer>div{max-width:640px;margin:0 auto;padding:0 10px}
body>header{background:#ccdee6;text-shadow:0 1px 0 rgba(0,0,0,0.2)}
body>header>nav{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;text-align:right}
body>header>nav a{color:#fff;margin-left:0.5em}
body>header>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:50px 10px 100px;position:relative}
body>header #title
{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	width:375px;
	height:125px;
	background-size:375px 125px;
	margin:0 0 12px -2px
}
body>header h2
{
	font-size:20px;
	color:#fff;
	font-weight:normal
}
body>header div#egg
{
	position:absolute;
	bottom:0;
	overflow:hidden;
	padding:0;
	right:-11px;
	width:360px;
	height:194px;
	background:url(images/headerEgg.png) no-repeat;
	background-size:360px 194px
}

body>section h2{color:#a8a294;font-size:24px;text-align:left}
body>section p{color:#a8a294;}
/* body>section h3{color:#6cd4ff;font-size:28px;text-align:left} */

body>footer{*zoom:1;border-top:1px solid #eee;margin:2em auto 0;padding:0.5em 0;font-size:0.8em;color:#9a9ea8}
body>footer:before,body>footer:after{content:" ";display:table}
body>footer:after{clear:both}
body>footer a{color:#9a9ea8}
body>footer a:hover{color:#0881b3}
body>footer p{float:left;margin:0}
body>footer ul{float:right;margin:0}
body>footer li{display:inline;margin-left:1em}
body>footer{background:#d8d0be;border-top:0;margin:0}
body>footer div{margin:0 auto;padding:1em 0 2em}

a{-webkit-transition:color 0.25s ease-in-out,border 0.25s ease-in-out;-moz-transition:color 0.25s ease-in-out,border 0.25s ease-in-out;-ms-transition:color 0.25s ease-in-out,border 0.25s ease-in-out;-o-transition:color 0.25s ease-in-out,border 0.25s ease-in-out;transition:color 0.25s ease-in-out,border 0.25s ease-in-out;color:#0881b3;text-decoration:none;border-bottom:1px solid transparent}
a:hover{border-bottom:1px solid}
a.light{color:#9a9ea8}
a.light:hover{color:#0881b3}
a{color:#fff;border-bottom:1px solid rgba(255,255,255,0.25)}
a.beta{width:280px;height:47px;background:#e38569;border-radius:5px;display:inline-block;color:#d8d0be;text-align:center;font-weight:bold;font-size:20px;line-height:47px;border:0}

p.list
{
	text-align:left;
	margin:-1em 0;
}

img#listImg
{
	width:320px;
	height:325px;
}

img#monitor
{
	width:354px;
	height:242px;
	margin: 0;
}

@media all and (max-width:660px)
{

	body>header div,body>footer>div,body>section,.flash 
	div
	{
		width:300px
	}

	body>header>div
	{
		padding:40px 0
	}
	
	body>header nav
	{
		text-align:center
	}
	
	body>header h1,body>header h2
	{
		margin-left:auto;
		margin-right:auto;
		text-align:center
	}
	
	body>header #title
	{
		width:300px;
		height:106px;
	}
	
	img#listImg
	{
		width:320px;
		height:325px;
	}
	
	body>header div#egg
	{
		visibility: hidden;
	}

	div.explain
	{
		margin-bottom:1em
	}
	div.explain>div
	{
		float:none !important;
		margin:0 auto 2em
	}

	h1,h2
	{
		width:208px;
	}
}

@media all and (max-width:480px)
{
	.no-iphone
	{
		display:none
	}
	
	body
	{
		padding-top:1em
	}
}

